@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

html {
  font-family: 'Lato', sans-serif;
  background: url('milky_way.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.3;
}

.content {
  width: 400px;
  padding: 30px;
  background: rgba(30, 31, 40, 0.49);
  border: 3px solid white;
  color: white;
}

.profiles {
  display: flex;
  justify-content: space-between;
}

.profiles img {
  height: 24px;
}